.img-function{
    max-width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 20px;
    background-color: #FF8619;
    padding: 7px;
    text-align: center;
}

.row span {
    display: block;
}
